@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body, html {
  height: 100%;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Audiowide', cursive;
  font-weight: 800;
}


.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/923590359496421406/984532182980784219/unknown.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


.cnt {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}


#ex {
  transition: transform .3s ease-out;
  cursor: pointer;
}


.mob {
  margin-top: 130px;
}


.bom {
  margin-top: 50px;
}


#ex:hover {
  transform: translate(0, -8px);
}


.cardy {
  color: white;
  font-weight: 800;
  transition: .3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  border-color: white;
  border: 5px solid white;
  border-top: none;
  border-right: none;
  border-right: 5px solid white;
  font-family: 'Audiowide', cursive;
}


.cardy:hover {
  color: #e5f5f5;
}
#cat, #cat1, #cat2, #cat3, #cat4{
  margin-bottom: 6px; 
  border-color:#fff;
  transition: 0.3s ease; 
  width: 340px; 
  border-style: solid; 
  font-size: 25px; 
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: aliceblue; 
  padding-left: 15px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 2px;
  margin-left: 36px;
}


#cat:hover,#cat1:hover,#cat2:hover,#cat3:hover  {
  transform: translate(0, -5px);
  border-color:aliceblue;
  background-color: transparent;
  color: #e5f5f5;
}   



#mcat, #mcat1, #mcat2, #mcat3 {
  margin-bottom: 6px; 
  border-color:#fff;
  transition: 0.3s ease; 
  width: 340px; 
  border-style: solid; 
  font-size: 25px; 
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: aliceblue; 
  padding-left: 15px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 2px;
  margin-left: 36px;
}


#mcat:hover,#mcat1:hover,#mcat2:hover,#mcat3:hover  {
  border-color:aliceblue;
  background-color: transparent;
  color: #e5f5f5;
} 


#fix {
  position: fixed;
  margin-top: 300px
}


#big {
  margin-left: 500px;
  overflow-y: scroll;
  height: 600px;
  overflow-x: hidden;

}

#fi {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}

.disc1 {
  border-color:#fff;
  display: block; 
  width: 340px; 
  border-style: solid; 
  font-size: 25px; 
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: #fff; 
  padding-left: 15px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 2px;
  margin-left: 30px; 
  margin-top: 70px;
}

.disc2 {
  border-color:#fff;
  display: block; 
  width: 340px; 
  border-style: solid; 
  font-size: 25px; 
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: #fff; 
  padding-left: 15px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 200px;
  margin-top: 10px;
  margin-left: 30px;
}

.cos {
  font-size: 20px; 
  padding: auto; 
  margin-bottom: 2px;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080; 
  border-radius: 10px;
}

.mobhid {
  display: none;  
}
.laphid {
  display: none;
}

#only {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#onlylap {
  font-size: 37px;
  transition: 0.3s ease; 
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: white; 
}

#onlylap1 {
  font-size: 20px;
  border-color:#fff;
  transition: 0.3s ease; 
  margin: 20px 20px 20px 0px;
  border-style: solid;  
  border-radius: 10px; 
  background-color: transparent;
  cursor: pointer; 
  color: white; 
  padding: auto;
  transition: 0.3s ease;
}



.lappyhid {
  display: block;
}

#onlylap1:hover  {
  border-color:#101419;
  background-color: #fff;
  color: #101419;
}

.imgur {
  height: 90px; 
  margin-left: 15px; 
  margin-top: 5px
}

.smobhid {
  display: none;
}



@media only screen and (max-width: 1210px) {
   .smobhid {
     display: none;
   }
    #only {
      max-width: 100%;
    }
    #onlylap{
      align-self: flex-start;
      font-size: 27px;
      background-color: transparent;
      border-style: none;
      text-align : center;
      
    }

    .imgur {
      align-self: flex-start;
      height: 60px; 
      margin-left: 15px; 
      margin-top: 5px
    }
    .mob {
      margin-top: 0px;
    }
    .bom {
      margin-top: 0px;
    }

    .disc1, .disc2 {
      margin-top: 0px
    }


    #onlylap1 {
      background-color: transparent;
      border-style: none;
      text-align : center;
      margin: 10px 4px 4px 11px;
    }

    .disc1, .disc2 {
    display: block;
    margin-left: 20px;
    }


    #fi {
      position: relative;
      width: 100%;
      overflow-x: hidden;
    }
    #dle {
      display: flex;
      flex-direction: column;
    }
    #cat, #cat1, #cat2, #cat3, #cat4 {
      width: 250px;
    }
    #mcat, #mcat1, #mcat2, #mcat3 {
      width: 250px;
    }
    #fix {
      position: relative;
      margin-bottom: 20px
    }
    #big {
      margin-left: 0px;
      height: 500px;
      overflow-x: hidden;
    }

    #hid {
      display: none;
    }

    body {
      overflow-y: auto;
    }

    .mobhid {
      display: block;
    }

    .laphid {
      display: block;
    }

    .lappyhid {
      display: none;
    }

    #gobottom {
      margin-bottom: none
    }
}


@media only screen and (max-width: 600px) {
   #onlylap {
    display: none;
   }
}
