
.externalWrapper {
    border-bottom: 0.1px solid #9098d82a;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.right-menu{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.right-menu h2{
    color: var(--text);
    font-size: 1.8rem;
    margin-top: 50px;
}

.right-menu .banner {
    margin-top: 40px;
    color: white;
    background-color: red;
    background-image: url('https://cdn.discordapp.com/attachments/1016456268195561493/1016459380432048188/unknown.png');
    padding: 50px 30px;
    border-radius: 20px;
    background-size: 100% auto;
}

.right-menu .banner p:nth-child(1){
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.top-part {
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-column-gap: 30px;
}

.top-wrapper {
    background: var(--sidebar);
    border-bottom-left-radius: 30px;
    height: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 20px;
    padding-right: 15px;;
}

.icons svg {
    fill: #fff;
    margin: 0 10px;
}

.img-profile {
    border-radius: 50%;
    width: 26px;
    margin-left: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: white;
}

.pfp{
    border-radius: 50%;
    width: 70px;
}

.name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.1rem;
}

.username{
    font-size: 0.9rem;
}

.coin-image {
    border-radius: 50%;
    width: 40px;
    margin-top: 20px;
}

.coins{
    font-weight: 700;
    font-size: 1.05rem;
    margin-top: 7px;
}

.rows {
   width: 100%;
   overflow: auto;
   grid-column-end: 3;
   grid-column-start: 1;
}

.detail{
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 700;
}

.container {
    margin-top: 50px;
}

.container:nth-child(1){
    margin-top: 0px;
}

.rows-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    margin-top: 30px;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 30px;
}

.rows-wrapper::-webkit-scrollbar {
    background: var(--sidebar);
    border-radius: 30px;
    height: 5px;
}

.rows-wrapper::-webkit-scrollbar-thumb{
    background: #7182FF;
    border-radius: 30px;
}

.innerPanel::-webkit-scrollbar {
    background: var(--sidebar);
    border-radius: 30px;
    height: 5px;
    width: 5px;
}

.innerPanel::-webkit-scrollbar-thumb{
    background: #7182FF;
    border-radius: 30px;
}


.homePageColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    cursor: pointer;
    margin-right: 60px;
}

.wl-image{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.claim {
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 700px;
    margin-top: 15px;
}

.claim span{
    background: #7182FF;
    color: white;
    padding: 0px 40px;
    margin-left: 7px;
    border-radius: 30px;
}

.buyPanel {
        background: #eaecf7;
        padding: 30px 0px;
        border-radius: 20px;
        text-align: start;
        display: none; /* */
        flex-direction: column;
        margin-right: 50px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #1c213e;
        font-size: 1.05rem;
        z-index: 10;

}

.buyPanel p{
    padding: 0px 30px;
}

.buyPanel p:nth-child(1){
    font-size: 1.6rem;
}

.buyPanel p:nth-child(3){
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: .95rem;
}

.buyPanel p:nth-child(7){
    margin-top: 20px;
    margin-bottom: 15px;
}

.buyPanel p span{
    color: #8392FF;
}

.buyButtons {
    margin-left: 350px;
    margin-top: 30px;
    padding-right: 20px;
    display: flex;
}

.buyButtons button{
    border: none;
    color: white;
    font-size: 1.1rem;
    background: #8392FF;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
}

.buyButtons button:nth-child(1){
    margin-right: 7px;
}

.no {
    background: rgb(233, 0, 50);
}

.panelBar{
    width: 100%;
    height: 0.007cm;
    background: #2c36813a;
    margin: 10px 0px;
}


.itemButtons {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    DISPLAY: NONE;
}

.itemButtons button {
    border: none;
    color: white;
    font-size: 1rem;
    background: #7182FF;
    border-radius: 15px;
    padding: 2px 25px;
    cursor: pointer;
}

.delete {
    background:#e94b68 !important;
}

#alertS {
    display: none;
    width: 100%;
    height: 70px;
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 2px;
    text-align: center;
}